{% extends "onlineShopTemplate/myadmin/base.html" %}

    {%block content%}

     <div class="container" id="myPage">
                <div class="row">
                    <h3> List of Products </h3>
                </div>  
        </div>
          <div class="clearfix"> </div>
        <div class="container  margin_top_30">
            <div clas="row">
                            <div class="col-md-offset-10 float-left">
                                <a href="{% url 'product_add' %}" class='btn-lg btn btn-success'> <i class="fa fa-plus"></i><span class="margin_left_10">Add Product</span></a>
                            </div>
            </div>

        <div class="row margin_top_30">
            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <!--<h3 class="title-5 m-b-35">data table</h3>
                                <div class="table-data__tool">
                                    <div class="table-data__tool-left">
                                        <div class="rs-select2--light rs-select2--md">
                                            <select class="js-select2" name="property">
                                                <option selected="selected">All Properties</option>
                                                <option value="">Option 1</option>
                                                <option value="">Option 2</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                        <div class="rs-select2--light rs-select2--sm">
                                            <select class="js-select2" name="time">
                                                <option selected="selected">Today</option>
                                                <option value="">3 Days</option>
                                                <option value="">1 Week</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                        <button class="au-btn-filter">
                                            <i class="zmdi zmdi-filter-list"></i>filters</button>
                                    </div>
                                    <div class="table-data__tool-right">
                                        <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                            <i class="zmdi zmdi-plus"></i>add item</button>
                                        <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                                            <select class="js-select2" name="type">
                                                <option selected="selected">Export</option>
                                                <option value="">Option 1</option>
                                                <option value="">Option 2</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                    </div>
                                </div>-->
                              

            <div class="table-responsive table">
                    <table class="table table-data2 table-bordered" id="productTable">
                        <thead>
                            <tr>
                                <th>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                        </label>
                                </th>
                                <th>S/N</th>
                                <th>Product Name</th>
                                <th>Product Brand</th>
                                <th>Product Manufacturer</th>
                                <th>Product Price</th>
                                <th>Product Quantity</th>
                                <th> Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                                <tr>
                                    <td><label class="au-checkbox">
                                                        <input type="checkbox">
                                                        <span class="au-checkmark"></span>
                                                    </label>
                                    </td>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ product.name }}</td>
                                    <td> {{ product.brand }}</td>
                                    <td>{{product.manufacturer}}</td>
                                    <td> # {{ product.price }}</td>
                                    <td>{{ product.quantity }}</td>
                                    <td>
                                                    <div class="table-data-feature">
                                                        <a data-url="{% url 'product_view' product.id %}" href="#" id="productView"  class="remove_decorator" data-toggle="tooltip" data-placement="top" title="Detail">
                                                            <i class="image_size_40 fa fa-eye"></i>
                                                        </a>
                                                        
                                                        <a data-url="{% url 'product_edit' product.id %}" href="#" id="productEdit"  class="remove_decorator" data-toggle="tooltip" data-placement="top" title="Edit">
                                                            <i class=" image_size_40 fa fa-edit"></i>
                                                        </a>
                                                        
                                                        <a data-url="{% url 'product_delete' product.id %}" href="#" id="productDelete" class="remove_decorator" data-toggle="tooltip" data-placement="top" title="Delete">
                                                            <i class="image_size_40 fa fa-remove"></i>
                                                        </a>
                                                       
                                                    </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>


                        {% if is_paginated %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                    <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                    {% for i in paginator.page_range %}
                                            {% if page_obj.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                            {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                    <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                        {% endif %}
            </div>
        </div>
    </div>
    </div>

<!--<div class="modal hide" id="myModalEdit">
</div>-->
<div class="modal" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    
</div>

<div class="modal fade" id="myModalView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    
</div>
 
<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    
</div>
    
    {% endblock %}