{% extends "onlineShopTemplate/myadmin/base.html" %}

    {%block content%}

     <div class="container">
                <div class="row">
                    <h3> List of Products </h3>
                </div>  
        </div>
          <div class="clearfix"> </div>
        <div class="container  margin_top_30">
            <div clas="row">
                            <div class="col-md-offset-10 float-left">
                                <a href="{% url 'product_add' %}" class='btn-lg btn btn-success'>Add Product</a>
                            </div>
            </div>

            <div class="row margin_top_30">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Product Price</th>
                                <th>Product Quantity</th>
                                <th> Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                                <tr>
                                    <td>{{ product.name }}</td>
                                    <td> # {{ product.price }}</td>
                                    <td>{{ product.quantity }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                        {% if is_paginated %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                    <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                    {% for i in paginator.page_range %}
                                            {% if page_obj.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                            {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                    <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                        {% endif %}
            </div>
        </div>

    {% endblock %}